
.my-container{
    background-color:#ffffff;
}
.my-circle{
    height: 4vw;
    width: 4vw;
    font-size: 1.5vw; 
    border-radius: 50%;
    background-color: #f7f7f7;
}
.my-settings{
    font-size: 1.2vw;
    color: #727070;
}
.my-date, .my-time{
    font-size: 1.2vw;
    color: #727070;
}
.button{
    font-size: 1vw;
    font-weight: bold;
}
.my-email{
    font-size: 1vw;
    color: #727070;
}
.mydateInput{
    width: 11vw;
}
.mytimeInput{
    width: 6vw;
}
