
.mycontainer{
    background-color:#ffffff;
}
.mycircle{
    height: 4vw;
    width: 4vw;
    font-size: 1.5vw; 
    border-radius: 50%;
    background-color: #f7f7f7;
}
.mysettings{
    font-size: 1.2vw;
}
.mydate, .my-time{
    font-size: 1.2vw;
}
.button1{
    width: 8vw;
    font-size: .8vw;
}
.mydateInput{
    width: 11vw;
}
.mytimeInput{
    width: 6vw;
}